@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url("./fonts/roboto.ttf"), format("truetype");
}

body{
    background-color: #fcfcfc;
    font-family: 'Roboto';
}

.container{
    height: auto;
    width: 100%;
    display: grid;
}